@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700); 

.openFile {
	background-color: #0070cc; /*#b3ccff;*/
	width: 100%;
	text-align: center;
	height:60px;
	line-height: 60px;
	font-family:'Open Sans',sans-serif;
	font-size:105%;
	color:#fff;
	/*cursor:pointer;
	transition:background .3s;
	-webkit-transition:background .3s;
	display:block;*/
} 

#inputButton {
	/*width:200px;*/
	font-family:'Open Sans',sans-serif;
	font-size:105%;
	color:#fff;
	position: fixed; 
	top: -100em;
}


#inputLabel:hover {
	text-decoration: underline;
}



*{margin:0;padding:0;}


/*$myblue='#0070cc';*/
/*$mydarkgrey = '#333333';*/

:focus {outline:none;}



/*:focus {outline:none;border:1px solid red}*/


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b0b0b0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #b0b0b0;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #b0b0b0;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #b0b0b0;
}





.darkBackground {
   background: #0070cc;
}

.borderstyle {
  border-style: solid;
  border-width: 1px;
  border-color: #0070cc;
  border-radius: 25px;
  /*border: 2px solid;*/

}


.borderstyle_flat {
  border-style: solid;
  border-width: 1px;
  border-color: #0070cc;
}



body{
  /*background:#567;*/
  font-family:'Open Sans',sans-serif;
  
}


.button{
  /*width:300px;*/
  /*background:#3399cc;*/

  /*
  position: fixed; 
  top: 0px;
  right: 0px;
  width: 100%;
  */
  /*height: 8%;*/

  overflow: hidden;  /*code added to prevent scroll */

  font-weight: 200;
  /*background: $mydarkgrey;*/
  display:block;
  margin:0 auto;
  margin-top:0%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  /*vertical-align:middle;*/
  color:#fff;
  cursor:pointer;
  font-size: 40px;
  transition:background .3s;
  -webkit-transition:background .3s;
  
}



#main_frame{
	height:100%;
	background:#3399cc;
}

#side_frame{
  /*
  position: fixed; 
  top: 10%;
  right: 79%; 

  width:  20%;
  height: 70%;
  */

  /*
  position:absolute;
  top:10%;
  */
  
  text-align:left;
  margin-top:0.4%; 
  padding:0.5% 0.5%; 
  margin-left:0.4%; 
  
  
  
  /*
  width:200px;
  height:600px;
  */
  width: 220px;
  height:500px;
  float: left;
  position: inline-block;
  
  
  /*display:inline;*/
  
  /*background:#f5f5f5;*/
}

#side_frame a{
  font-size:90%;
  color:#0070cc;
  font-weight:500;
  text-align:left;
  position: relative; 
  left: 10%;  
  display:inline;
  text-decoration: none;
}

#create_event{
  position: inline-block;
  width:100%;
  height:50px;
  border-style: solid;
  border-width: 2px;
  border-color: #0070cc;
  background-color: #0070cc;
  
  margin-top:0.4%;
  margin-left:0.4%;
  margin-top:2.0%;
  
    
    font-family:'Open Sans',sans-serif;
    font-size:105%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
    display:block;
}

#create_event:hover{
  background:#0088dd;
  border-color:#0088dd;
}

#my_photo{
	width: 100%;
	height: 60%;
	background:#f0f0f0;
	text-align:center;
}

#my_photo h5{
  font-size:800%;
  font-weight:500;
  text-align:center;
  display:inline;
  color:#cccccc;
}

#my_photo a{
  font-size:80%;
  font-weight:500;
  text-align:center;
  display:inline;
  color:#aaaaaa;
  text-decoration: none;
  position: relative; 
  bottom: 10%;
  left: 0%;
  

}




#about_us{
  width:600px;
  /*position: absolute;
  left: 50%;
  top:  80%;
  margin: 0 0 0 -300px;*/
  text-align:center;

  margin:0 auto;
  
}

#about_us h1{
  font-size:70%;
  font-weight:500;
  text-align:center;
  display:inline;
}

#about_us a{
  font-size:70%;
  color:#0070cc;
  font-weight:500;
  text-align:center;
  display:inline;
  text-decoration: none;


}



#login{
  
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  /*vertical-align:middle;*/
  /*position: absolute;
  left: 50%;
  top: 30%;
  margin: 0 0 0 -200px;*/
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

/*
#triangle{
  width:0;
  border-top:12x solid #3399cc;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399cc;
  border-left:12px solid transparent;
  margin:0 auto;
}
*/

#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}


#login form{
  /*background:#f0f0f0;*/
  padding:10% 10%;
}


#login form input[type="email"],input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

#login form input[type="submit"]{
  width:100%;
  /*background:#3399cc;*/
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

#login form input[type="submit"]:hover{
  background:#0050cc;
}










#search{
	margin-left:5%;
	margin-top:3%;
	float: left;
    position: inline-block;
	width:700px;
	position:relative;
	
}

#search form{
	width:700px;
	position:relative;
	border-style: solid;
    border-width: 2px;
    border-color: #0070cc;
    position:block;
}

#search form input[type="text"]{
	float: left;
    /*position: inline-block;*/
    
  
	
	width:480px;
	height:50px;
	border:none;
    font-family:'Open Sans',sans-serif;
    font-size:105%;
    color:#555;
    padding-left:10px;
    padding-right:10px;
    /*
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
    display:block;
    */
	
}



#search form input[type="submit"]{
	position: inline-block;
	
	
	width:200px;
	height:50px;
	/*
	border-style: solid;
    border-width: 2px;
    border-color: #0070cc;
    */
    border:none;
    
    font-family:'Open Sans',sans-serif;
    font-size:105%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
    display:block;
}

#search form input[type="submit"]:hover{
  background:#0088dd;
  border-color:#0088dd;
}


