@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700); 

.openFile {
	background-color: #0070cc; /*#b3ccff;*/
	width: 100%;
	text-align: center;
	height:60px;
	line-height: 60px;
	font-family:'Open Sans',sans-serif;
	font-size:105%;
	color:#fff;
	/*cursor:pointer;
	transition:background .3s;
	-webkit-transition:background .3s;
	display:block;*/
} 

#inputButton {
	/*width:200px;*/
	font-family:'Open Sans',sans-serif;
	font-size:105%;
	color:#fff;
	position: fixed; 
	top: -100em;
}


#inputLabel:hover {
	text-decoration: underline;
}




